.main {
  text-align: start;
}

.main>div:nth-child(2n) {
  color: var(--text-main-white);
  background-color: var(--background-main-black);
}


.main>div:nth-child(2n+1) {
  color: var(--text-main-black);
  background-color: var(--background-main-white);
}