.burgerNavigation {
   width: 100%;
   position: relative;


   .burgerNavItems {
      padding: 10px 5px;
      font-size: 1em;
      display: flex;
      row-gap: 15px;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      left:0;
      height: max-content;
      border-radius: 3px;
      transition: all 0.7s ease-out;

      &.hide {
         top: -200px;
         opacity: 0;
         transition: all 1.3s ease-out;
      }
   }
   .burgerButton {
      color: #1a1d1f;
      z-index: 100497;
      width: 30px;
      position: absolute;
      top: 10px;
      right: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   @media screen and (min-width: 480px) {
     display: none;
   }
}