.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    height: var(--header-height);
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--background-main-white);



    @media screen and (max-width: 480px) {
        background-color: transparent;
        height: auto;
    }
}