.main {
  min-height: 100vh;
  height: 1000px;
  background-color: var(--background-main-black);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../assets/images/face.png);


  .container {
    justify-content: space-evenly;
    height: inherit;

    @media screen and (max-width: 1020px) {
      height: 600px;
      justify-content: right;
      align-items: center;
    }

  }

}