

.select {
	display: flex;
	flex-direction: column;
	align-self: center;
	padding: 2px 8px;
	text-transform: uppercase;
	font-size: 1em;
	
}


.option {
	width: 40px;
	height: 40px;
}

.select,.item,.select:hover,.option:hover,.select:focus,.option:focus,.select:focus-visible,.option:focus-visible {
	border: none;
	outline: none
}

