.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(var(--footer-height));

  .description {
    text-transform: uppercase;
  }
}