.container {
  align-items: center;
  gap: 20px;
  min-height: calc(100dvh - var(--header-height) - var(--footer-height));
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: center;
  padding: 0 20px;
}


.form {
  display: grid;
  grid-template-columns: minmax(300px, 100%);
  grid-template-rows: auto;
  align-self: self-start;
  gap: 20px;
  border-radius: 12px;
  border: 2px solid var(--background-transparent-white);
  padding: 1rem;
}

.radio {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-transparent-black);
}

.radio>* {
  cursor: pointer;
}

.select {
  color: var(--text-main-white);
  background-color: var(--background-transparent-black);
}